.PostDetails {
    padding-top: 100px;
}

.PostDetails h3 {
    margin-bottom: 35px;
}

.PostDetails h5 {
    margin-bottom: 35px;
}

.PostDetails ul li {
    margin-bottom: 30px;

}

.PostDetails ul li img {
    width: 50px;
}

.PostDetails ul li {
    display: flex;
    align-items: center;
}

.PostDetails ul li span {
    display: block;
}

.PostDetails ul li div{
    margin-left: 20px;
}