.Search {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}

.Search input {
    width: 400px;
    height: 45px;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid lightgray;
}

.Search input:focus {
    outline: none;
    outline-offset: none;
}

.Clear {
    width: 45px;
    height: 45px;
    position: absolute;
    cursor: pointer;
}

.Clear:hover {
    transition: 0.5s;
    opacity: 0.8;
}